#snackbar {
  z-index: 99999999;
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#snackbar.yeeeeeeet {
  visibility: visible;
  -webkit-animation: fadeinyeet 0.5s, fadeoutyeet 0.5s 2.5s;
  animation: fadeinyeet 0.5s, fadeoutyeet 0.5s 2.5s;
}

@-webkit-keyframes fadeinyeet {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadeinyeet {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeoutyeet {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeoutyeet {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
} 